body {
  background-color: aliceblue;
  font-family: system-ui;
}
.container {
  width: 1000px;
  margin: auto;
  transition: 1.5s;
}
header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}
header .shopping {
  position: relative;
  text-align: right;
}
header .shopping span {
  background-color: chocolate;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  position: absolute;
  top: -13px;
  left: 93%;
  padding: 3px 5px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
}
.checkout {
  display: flex;
}

.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #453e3b ;
  height: 100vh;
  transition: 0.5s;
}
.card h1 {
  color: gold;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.card .checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} 
.card .checkout div{
  background-color: gold;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkout div:nth-child(2) {
  background-color: midnightblue;
  color: aliceblue;
}
.active .card {
  left: calc(100% - 500px);
}
.active .container {
  transform: translateX(-200px);
}
.list .item {
  text-align: center;
}





